@import url('https://fonts.googleapis.com/css?family=Nunito:400,700');

body {
	font-family: 'Nunito', sans-serif;
	font-size: 12px;
	display: flex; justify-content: center; align-items: center;
	color: #fff;
	background: #111111;
}

.container {

}

.contact {
	display: inline-block;
	margin-left: 10px;
}

.contact-name {
	font-family: 'Oxygen', sans-serif;
	font-weight: bold;
	text-transform: uppercase;
}